{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div>
        {{!-- <label class="form-label">Item</label> --}}
        <input type="text" class="form-control" name="item_name"/><label>Item Name</label>
        <input type="text" class="form-control" name="item_desc"/><label>Item Descriptions</label>
        <input type="text" class="form-control" name="item_price"/><label>Price Per Item</label>
        <input type="text" class="form-control" name="contact_info"/><label>Contact Info</label>
    </div>
    <div>
        <label class="form-label">Category</label>
        {{!-- <input type="text" class="form-control" name="category"/> --}}
        <input type="radio" name="category" value="desert"/><label>Desert</label>
        <input type="radio" name="category" value="bread"/><label>Bread</label>
        <input type="radio" name="category" value="bread"/><label>Pizza</label>
        <input type="radio" name="category" value="bread"/><label>Vegan</label>
    </div>
    <div>
        <label class="form-label">Status</label>
        <input type="radio" name="status" value="available"/><label>Available</label>
        <input type="radio" name="status" value="pending"/><label>Pending</label>
        <input type="radio" name="status" value="sold"/><label>Sold</label>
    </div>

    <input type="submit" value="Add New Items" class="btn btn-primary my-3">
</form>
{{/block}}

{{/extends}}